rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /posts/{postId} {
      allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;
      allow read: if true;
    }

    // Optional: Allow reading user profiles or other collections
    match /users/{userId} {
      allow read: if true;
    }
  }
}